//  Colors

//  Primary

$light-red-text: hsl(356, 100%, 66%);
$ligh-red-hover: hsl(355, 100%, 74%);
$dark-blue-headings: hsl(208, 49%, 24%);

//  Neutral

$white: hsl(0, 0%, 100%);
$grayish-blue-footer: hsl(240, 2%, 79%);
$dark-grayish-body: hsl(207, 13%, 34%);
$dark-black-blue: hsl(240, 10%, 16%);

//  Gradient

//Background gradient - Intro/CTA mobile nav:
$very-light-red: hsl(13, 100%, 72%);
$ligh-red: hsl(353, 100%, 62%);

//  Background gradient - body:
$dark-gray-blue: hsl(237, 17%, 21%);
$dark-desaturated-blue: hsl(237, 23%, 32%);

$nav-mob: hsl(0, 0%, 95%);
